.form{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  animation: tween 0.5s ease-in-out;
}
.buttonClass{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: center;
}
input,button,select{
  padding: 10px 12px;
  border-radius: 10px;
  font-size: 16px;
}
input{
  border: 1px solid black;
}
button{
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #0056D2;
  border: none;
  color: white;
}
input:focus{
  border: 2px blue solid;
  outline: none;
}
select:focus{
  border: 2px blue solid;
  outline: none;
}
button:hover{
  transform: scale(1.1);
  background-color: #004bb5;
}
p{
  margin: 0;
  font-size: 18px;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}
@keyframes tween{
  from{
      opacity: 0;
      transform: translateY(+20px);
  }
  to{
      opacity: 1;
      transform: translateY(0);
  }
}
.formComponents{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}
.formComponents label{
  width: 80px;
  text-align: right;
}
.formComponents input{
  flex: 1;
}
.formComponents div{
  flex: 1;
}
h2:hover{
  text-decoration: underline;
}
.name{
  text-align: center;
  background-color: yellow;
  padding-top: 3px;
  padding-bottom: 3px;
}
.detailContainer{
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}
button:disabled{
  background-color: transparent; 
  color: gray; 
  cursor: not-allowed; 
  opacity: 0.6;
}
.dropdown-menu{
  padding: 8px 8px;
  text-align: center;
}
.dropdown-menu li{
  margin: 5px 5px;
}
.dropdown-menu li button{
  background-color: red;
  border-radius: 10px;
}
.searchField{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
td{
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}
th,td{
  border: 1px solid black;
  text-align: center;
  padding: 5px 5px;
}
table{
  margin: 10px 10px;
  max-width: 100%;
}
.PaginationbuttonClass{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.message{
  color: red;
  text-align: center;
  margin: 5px 5px;
}